@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tangerine', cursive;
}
h1 {
  font-size: 5em;
  margin: 0px auto;
  vertical-align: middle;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #ff0000; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}
.red {
  color: red;
}
svg {
  max-width: 50vw;
  max-height: 50vh;
  min-width: 50vw;
  min-height: 50vh;
  margin: 0px auto;
    display: block;
}
svg path {
  fill:red;
  stroke:red;
  stroke-width: 3.8;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ff0000; }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}